<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_robotic)/worlds/ddrobot.world"/>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    </include>

    <!-- Spawn dd_robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find ros_robotic)/urdf/dd_robot.gazebo -urdf -model ddrobot" />

    <rosparam 
        file="$(find ros_robotic)/config/ddrobot_ctroller.yaml" 
        command="load"
    />
    <node
        name="Robot_ctrller"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args=  "joint_state_controller 
                left_wheel_ctrl
                right_wheel_ctrl"
    />

</launch>