<?xml version="1.0"?>
<launch>
    <arg name="world_laberinto" default="$(find kobuki_lidar)/worlds/taller2.world"/>

    <!-- ************************************************************************ -->
    <!-- Launch Gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_laberinto)"/> 
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- ************************************************************************ -->
    <!-- Spawn Robot-->
    
    <!-- Robot initial pose (TENER EN CUENTA QUE COINCIDA CON LO QUE ESTÉ EN PARAMETERS.YAML)-->
    <arg name="x" default="-3.5"/>
    <arg name="y" default="3.5"/>
    <arg name="z" default="0.01"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="$(eval 0 * 3.141592 / 180.0)"/>

    <arg name="robot_name" value="kobuki"/>


    <rosparam file="$(find kobuki_lidar)/config/parameters.yaml" command="load" />

    <param 
        name="robot_description" 
        command="$(find xacro)/xacro '$(find kobuki_lidar)/urdf/kobuki_lidar.urdf.xacro'"/>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
            -urdf -param robot_description 
            -model $(arg robot_name)"
            respawn="false">
    </node>

    <!-- ************************************************************************ -->
    <!-- State Publisher -->
    <node 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        name="robot_state_publisher" 
        output="screen"
    />

    <!-- ************************************************************************ -->
    <!-- RViz  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kobuki_lidar)/rviz/config.rviz"/>
    

    <node 
        pkg="kobuki_lidar" 
        type="control_motores_node.py" 
        name="Controlador_Movimiento" 
        output="screen">     
    </node>

    <node 
        pkg="kobuki_lidar" 
        type="planning_node.py" 
        name="Generador_trayectoria" 
        output="screen">    
    </node>

    <node 
        pkg="kobuki_lidar" 
        type="TF_node.py" 
        name="TF" 
        output="screen">     
    </node>

    <node 
        pkg="kobuki_lidar" 
        type="seguimiento_node.py" 
        name="Seguimiento_Trayectoria" 
        output="screen">     
    </node>

<!--Cargar el mapa-->

    <arg name="map_file" default="$(find kobuki_lidar)/config/map_karto.yaml"/>

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <node 
        pkg="kobuki_lidar" 
        type="class_load_map.py" 
        name="Loader_Map" 
        output="screen">        
    </node>

</launch>